<nav class="navbar navbar-inner navbar-fixed-top" *ngIf="isLoggedIn$ | async">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">
              <img src="assets/images/people.png" alt="logo" />
              <span class="app-title">Customer Manager</span>
          </a>
          <span class="navbar-collapse" >
              <ul class="nav navbar-nav nav-pills navBarPadding">
                  <li ><a >Customers</a></li>
                  <li><a >Orders</a></li>
                  <li><a >About</a></li>
                  <li><a></a></li>
              </ul>
          </span>
      </div>
  </div>
</nav>